NEXT_PUBLIC_SUPABASE_URL=https://jiirjbmtifjkwvbcfiva.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_publishable_key

NEXT_PUBLIC_WA_NUMBER=992XXXXXXXXX
NEXT_PUBLIC_TG_USERNAME=medoria_tj
NEXT_PUBLIC_EMAIL=sales@medoria.tj
NEXT_PUBLIC_PHONE=+992XXXXXXXXX
